.contacts {
    padding-top: 70px;
    padding-bottom: 90px;

    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
    overflow: hidden;

    /* Tablet */
    @media (max-width: 1140px) {
        padding-top: 40px;
        padding-bottom: 70px; 
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-bottom: 40px;
    }
}


.contacts__title {
    margin-bottom: 60px;
    text-align: center;

    /* Tablet */
    @media (max-width: 1140px) {
        margin-bottom: 40px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 20px;
    }
}

.contacts__row {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;

    margin-bottom: 32px;

    /* Tablet */
    @media (max-width: 1140px) {
        margin-bottom: 25px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        justify-content: unset;
    }

    /* Mobile XS */
    @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 50px;
    }
}

.contacts__row > * + *{
    /* Mobile */
    @media (max-width: 899px) {
        margin-left: 156px;  
    }

    /* Mobile XS */
    @media (max-width: 767px) {
        margin-left: 0;
    }
   
}

.contacts__list-wrapper{
    margin-bottom: 40px;
}

.contacts__list > * + *{
    margin-top: 22px;

    /* Tablet */
    @media (max-width: 1140px) {
        margin-top: 16px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-top: 10px;
    }
}

.contacts__line {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.6;

    /* Tablet */
    @media (max-width: 1140px) {
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        display:flex;
        flex-direction:column;

        font-size: 16px;
    }
}

.contacts__line > * + *{
    margin-left: 85px;

    /* Tablet */
    @media (max-width: 1140px) {
        margin-left: 36px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-left: 0;
    }
}

.contacts__info{
    display:inline-block;
    width: 103px;

    /* Tablet */
    @media (max-width: 1140px) {
        width: 84px;
    }
}

.contacts__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    
    color: #1A71D2;

    &:hover{
        color: #FF543E;
    }

    /* Tablet */
    @media (max-width: 1140px) {
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 16px;
    }
}

.contacts__description-wrapper{
    width: 538px;

    margin-bottom: 32px;
    

    /* Tablet */
    @media (max-width: 1140px) {
        width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 290px;
    }
}

.contacts__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;

    /* Tablet */
    @media (max-width: 1140px) {
        font-size: 16px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 14px;
    }
}

.contacts__img-marks{
    position: absolute;
    z-index: -1;
    top: -143px;
    right: 0px;
    transform: translateX(40%);

    /* Tablet */
    @media (max-width: 1140px) {
        display: none;
    }
   
    
   
}