.card {
    width: 350px;
}

.card--big{
    width: 540px;

    /* Tablet */
    @media (max-width: 1139px) {
        width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 354px;
    }

    /* Mobile XS */
    @media (max-width: 767px) {
        width: 290px;
    }

    .card__img-wrapper{
        margin-bottom: 20px;

        /* Mobile */
        @media (max-width: 899px) {
            margin-bottom: 10px;
        }
    }
    
    .card__title{
        margin-bottom: 8px;

        font-size: 30px;

        /* Tablet */
        @media (max-width: 1139px) {
            margin-bottom: 6px;

            font-size: 24px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            margin-bottom: 4px;

            font-size: 18px;
        }
    }

    .card__subtitle{
        font-size: 20px;

        /* Tablet */
        @media (max-width: 1139px) {
            font-size: 16px;
        }

        /* Mobile */
        @media (max-width: 899px) {
            font-size: 14px;
        }
    }
}

.card__img-wrapper {
    margin-bottom: 16px;
}

.card__title {
    margin-bottom: 6px;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    color: #000000;
}

.card__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: #000000;
}