

.contacts-form {
    width: 540px;
    padding-top: 62px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    background: #FFFFFF;
    box-shadow: 0px 20px 100px -10px rgba(160, 206, 237, 0.75);

    /* Tablet */
    @media (max-width: 1140px) {
        width: 420px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 45px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 290px;
        padding-top: 44px;
        padding-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.contacts-form > * + *{
    margin-top: 50px;   
}

.contacts-form > *:last-of-type{
    border:none;
}

.form-item {
    position: relative;
    border-bottom: 2px solid  #E5E5E5;
    transition: 0.2s ease-in;
    
}

.form-item.red-line{
    border-bottom: 2px solid  #FF543E;
}



.form-item__placeholder{
    position: absolute;
    width: 440px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;

    color: #9D9D9D;
    transition: 0.2s ease-in;
    pointer-events: none;
}



.form-item__placeholder.active {
    position: absolute;
    top: -16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    color: #ECA73F;
}


input.form-item__field {
    display: block;
    width: 440px;
    height: 40px;
    outline: none;

    /* Tablet */
    @media (max-width: 1140px) {
        width: 360px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 260px;
    }
}

textarea.form-item__field {
    display: block;
    width: 440px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;

      /* Tablet */
      @media (max-width: 1140px) {
        width: 360px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 260px;
    }

}

.form-btn {
padding-left: 40px;
padding-right: 40px;
height: 64px;

background: #FBDC4D;
border-radius: 50px;

font-weight: 700;
font-size: 20px;
line-height: 1.3;

&:hover{
    background-color: #FFEB8D;
}

&:active{
    background-color: #F5D22D;
}

/* Mobile */
@media (max-width: 899px) {
    padding-left: 71px;
    padding-right: 71px;
    height: 58px;
}
}

label.error{
    position: absolute;
    bottom:-30px;
    font-size: 14px;
    font-weight: 700;

    color: #ff00d0;
    
}

.contacts-form h2{
    font-size: 28px;
    font-weight: 500;
}


