.title{
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;

    /* Tablet */
    @media (max-width: 1140px) {
        font-size: 42px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 32px;
    }
}